<div id="<%= dom_id order_detail %>">
  <p>
    <strong>Menu item:</strong>
    <%= order_detail.menu_item_id %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= order_detail.order_id %>
  </p>

  <p>
    <strong>Portion size:</strong>
    <%= order_detail.portion_size %>
  </p>

  <p>
    <strong>Total portion price:</strong>
    <%= order_detail.total_portion_price %>
  </p>

</div>
