<div class="container" >
<h1>Edit Menu Item</h1>

<form action="/update-menu-item/<%= @menu_item.id %>" method="post">
  <%= csrf_meta_tags %>
  <input name="_method" type="hidden" value="patch" />
  <label for="name">Nama:</label><br>
  <input type="text" id="name" name="name" value='<%= @menu_item.name %>' class="form-control"><br>
  <label for="description">Deskripsi:</label><br>
  <textarea id="description" name="description" value='<%= @menu_item.description %>' class="form-control"></textarea><br>
  <label for="price">Harga /porsi</label><br>
  <input type="text" id="price" name="price" value='<%= @menu_item.price %>' class="form-control"><br>
  <label for="menu_category_id">Kategori</label><br>
  <select name="menu_category_id" id="menu_category_id" class="form-control">
  <% @menu_category_items.each do |menu_category| %>
  <% if menu_category.id == @menu_item.menu_category_id %>
  <option selected value=<%= menu_category.id %> ><%= menu_category.name %></option>
<% else %>
  <option value=<%= menu_category.id %> ><%= menu_category.name %></option>
  <% end %>
  <% end %>
  </select><br>

  <input type="submit" value="Submit">
</form>

<br>

<div>
  <%= link_to "Kembali ke Dashboard", menu_items_path %>
</div>
  </div>