<div class="container" >

  <div class="row">

    
  <div class="mt-4 alert alert-success" role="alert">
  Hello, owner. Here's your dashboard. Check the list of unconfirmed invoices below. Once you've confirmed the payment, you can set them confirmed in their respective details page. If you're seeing this from desktop, then the report button, list of menus, and list of categories shall be on the right side.
  </div>
    
  <div class="col-md-8">
  <!-- Mulai Bagian Daftar Pesanan -->
  <div id="menu_category_items">
  <h3>List of Orders</h3>

    <!-- Mulai Form Pembuatan Menu Baru -->
  <div class="card mt-2">
  <div class="card-header">Got some new orders? Enter the customer's email below..</div>
  <div class="card-body">
  <form action="/tambah-order" method="post">
  <%= csrf_meta_tags %>
  <label for="email">Enter the customer's email:</label><br>
  <input type="email" class="form-control" id="email" name="email" >
  <span>The new customer's email will be listed in the table below. Go to it's details page to add menu items.</span>
  <input type="submit" class="form-control btn btn-primary" value="Confirm New Order">
  </form>
  </div>
  </div>
  <!-- Selesai Form Pembuatan Menu Baru -->
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Customer's email</th>
      <th scope="col">Total order costs</th>
      <th scope="col">Status</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @order_items.each do |order| %>
    <tr>
    <td><%= order.email %></td>
    <td><%= number_to_currency(order.total_price, unit: "Rp.", format: "%u %n") %></td>
    <% if order.status == 'PAID' %>
    <td><span class="btn btn-primary"><%= order.status %></span></td>
    <% elsif order.status == 'CANCELED' %>
    <td><span class="btn btn-danger"><%= order.status %></span></td>
    <% else %>
    <td><span class="btn btn-success"><%= order.status %></span></td>
    <% end %>
    <td><%= link_to "See Details", order_url( :id => order.id ), class: "btn btn-outline-success" %>
    <%= button_to "Delete this order", order_url(order.id), class: "btn btn-outline-danger mt-2", method: :delete %>
        
    </td>
    </tr>
  <% end %>
  </tbody>
  </table>
    
  </div>
  <!-- Selesai Bagian Daftar Pesanan -->
  </div>
  

  <div class="col-md-4 mb-2" style="border-left:1px solid gray;">

  <!-- Mulai Bagian Daftar Menu -->

  <div id="reports">
    <h3>Reports</h3>
    <%= link_to "Click here to see overall reports of your sales", '/sales', class: "btn btn-primary w-100" %>
  </div>
    
  <div id="menu_items">
  <h3>List of menu items</h3>
    <% @menu_items.each do |menu_item| %>
    <div class="card shadow mt-2" >
    <div class="card-body">
    <h5 class="card-title"><%= menu_item.name %></h5>
    <h6 class="card-subtitle mb-2 text-muted"><%= menu_item.menu_category.name %></h6>
    <h4>Rp.<%= menu_item.price %></h4>
    <p class="card-text"><%= menu_item.description %></p>
    <button class="btn btn-outline-success "><strong><%= number_to_currency(menu_item.price,  unit: "Rp.", format: "%u %n") %></strong></button>
    <%= link_to "Edit Menu", edit_menu_item_path(menu_item.id), class: "btn btn-outline-primary " %>
    <%= button_to "Delete Menu", menu_item_path(menu_item.id), class: "btn btn-outline-danger mt-2", method: :delete,params: { id: menu_item.id } %>
  </div>
  </div>
  <% end %>

  <!-- Mulai Form Pembuatan Menu Baru -->
  <div class="card mt-2">
  <div class="card-header">Input New Menu Item</div>
  <div class="card-body">
  <form action="/tambah-menu-item" method="post">
  <%= csrf_meta_tags %>
  <label for="name">Name of new menu:</label><br>
  <input type="text" class="form-control" id="name" name="name" >
  <label for="description">Description :</label><br>
  <textarea class="form-control" id="description" name="description" ></textarea>
  <label for="price">Price per portion: (Rp. )</label><br>
  <input type="number" min="0.01" class="form-control" id="price" name="price" >
  <label for="menu_category_id">Menu's category :</label><br>
  <select name="menu_category_id" id="menu_category_id" class="form-control">
  <% @menu_category_items.each do |menu_category| %>
  <option value=<%= menu_category.id %> ><%= menu_category.name %></option>
  <% end %>
  </select><br>
  <input type="submit" class="form-control btn btn-primary" value="Confirm new menu">
  </form>
  </div>
  </div>
  <!-- Selesai Form Pembuatan Menu Baru --> 
    
  </div>
    
  <!-- Selesai Bagian Daftar Menu -->
    
  <!-- Mulai Bagian Daftar Kategori Menu -->
  <div id="menu_category_items" class="mt-2" >
  <h3>List of menu categories</h3>
  <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  <% @menu_category_items.each do |menu_category| %>
    <tr>
    <td><%= menu_category.name %></td>
    <td>
    <%= link_to "Edit Category", edit_menu_category_path(menu_category.id), class: "btn btn-outline-primary " %>
    <%= button_to "Delete Category", menu_category_path(menu_category.id), class: "btn btn-outline-danger mt-2", method: :delete %>
    </td>
    </tr>
  <% end %>
  </tbody>
  </table>

  <!-- Mulai Form Pembuatan Kategori Baru -->
  <div class="card mt-2 ">
  <div class="card-header">Input New Menu Category</div>
  <div class="card-body">
  <form action="/tambah-menu-category" method="post">
  <%= csrf_meta_tags %>
  <label for="name">Name of new category:</label><br>
  <input type="text" class="form-control" id="name" name="name" >
  <label for="description">Description :</label><br>
  <textarea maxlength="150" class="form-control" id="description" name="description" ></textarea><br>
  <input type="submit" class="form-control btn btn-primary" value="Confirm new category">
  </form>
  </div>
  </div>
  <!-- Selesai Form Pembuatan Kategori Baru --> 
    
  </div>
  <!-- Selesai Bagian Daftar Kategori Menu -->
  </div>
    
  </div>
</div>